<%= link_to image_tag("pageback.png", :title => "Home"), root_path, :class => "magnify" %>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Log in", :class => "create round" %>
  </div>
<% end %>
<br /><br />
<p>New user? <%= link_to "Sign up now!", signup_path %></p>

