<%= link_to image_tag("pageback.png", :title => "Occupation list"), occupations_path, :class => "magnify" %>

<%= form_for(@occupation) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  
  <%= render 'fields', :f => f %>
  
  
   
  
  <div class="field">
    <% if @occupation.approved? %>
      <%= f.label :approved, "Uncheck to remove approval" %>
    <% else %>
      <%= f.label :approved, "Check to approve" %>
    <% end %>    
    <%= f.check_box :approved %>
  </div>
  <div class="actions">
    <%= f.submit :class => "create round" %>
  </div>
<% end %>
