<%= link_to image_tag("pageback.png", :title => "Currency list"), currencies_path, :class => "magnify" %>
<h1><%= link_to @currency.currency.upcase, edit_currency_path(@currency) %>
  <span class="subtext">
    (Click to edit)
  </span>
</h1>
<div id="rubric">
  Abbreviation: <%= @currency.abbreviation %><br />
  Number of currency subunits: <%= @currency.dec_places %><br />
  Exchange rate: (How many dollars for 1 unit?) <%= @currency.change_to_dollars %><br >
  Entered by: <%= @creator.name %> <i>(User ID <%= @creator.id %>)</i><br />
  <strong><%= approval_text.upcase %></strong>
</div>
