<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
  
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name, "User name * " %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "Email * "  %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Password * " %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Re-enter password * " %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="actions">
    <%= f.submit "Update", :class => "create round" %>
  </div>
<% end %>

<div>
  <div class="profile-pic"><%= gravatar_image_tag @user.email.downcase %></div>
  <div class="subtext">Change or add a profile picture <br />
      at the external <a href="http://gravatar.com/emails" target="_blank">Gravatar site</a>
  </div>
</div>

