<%= link_to image_tag("pageback.png", :title => "Absence category list"), abscats_path, :class => "magnify" %>

<%= form_for(@abscat) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "New Absence Type", :class => "create round" %>
  </div>
<% end %>
