<footer>
  <nav>
    <ul>
      <li><span id="about"><%= link_to "About us", about_path, :remote => true %></span></li>
      <li><span id="contact"><%= link_to "Contact us", contact_path, :remote => true %></span></li>
      <li><span id="help"><%= link_to "More help", help_path, :remote => true %></span></li>
      <li><span id="blog"><%= link_to "Blog", "#", :remote => true %></span></li>
    </ul>
  </nav>
</footer>

<% content_for :javascript do %>

  <%= javascript_tag do %>
   
   $(document).ready(function(){
    
    $('#blog').click(function() {
      $('#blog-content').toggle( 100, function() {
      });
    });
    
    
   });
    
  <% end %>
<% end %>


