<header>
  <span class="title-image magnify">
    <%= link_to logo, root_path %>
  </span>  
  <span class= "title-text">
   <%= @title %>
  </span>
  
  <nav>
    <ul>
      <li><%= link_to image_tag("home.png", :alt => "Home"), root_path %></li>
      <li><span class="guidance"><%= link_to image_tag("guidance.png"), note_path(note_reference), :title => "Page help", :remote => true %></span></li>
      
      <% if signed_in? %>
        <li><%= link_to image_tag("user.png"), edit_user_path(current_user), 
          :title => "Change your name, password, profile picture" %>
        </li>
        <li><%= link_to "Sign out", signout_path, 
              :method => :delete, :class => "create-icon round exit" %></li>
      <% else %>
        <li><%= link_to "Log in", signin_path, :class => "create-icon round" %></li>
      <% end %>
      
      <% unless signed_in? %>
        <li><%= link_to "Sign up", signup_path, 
          :title => "Sign Up - for free", :class => "create-icon round" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>

<% content_for :javascript do %>

  <%= javascript_tag do %>
   
   $(document).ready(function(){
   
    $('.guidance').click(function() {
      $('#center-panel').toggle( 100, function() {
      });
    });
   
   });
    
  <% end %>
<% end %>


