<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div id="outer">
      <div id="left-panel">    
        <div id="container">
          <%= render 'layouts/header' %>        
          <div id = "content">         
            <% flash.each do |key, value| %>
              <%= content_tag(:div, value, :class => "flash #{key}") %>
            <% end %>
              <%= yield %>
          </div> 
          
        </div>
        <%= render 'layouts/footer' %> 
        <%= debug(params) if Rails.env.development? %>
      </div>
      <div id="right-panel">
        
        <div id="about-content">
          
        </div>
        
        <div id="services-content">
          
        </div>
        
        <div id="contact-content">
          
        </div>
        
        <div id="blog-content">
          This is where the blog is going to go.  Hello, I'd like to tell you a little story about a famous wolf.  
          He lived deep in the forest with only his old Granny for protection ...
        </div>
      </div>
      
      <div id="center-panel">
        <div id="center-content">
         
        </div>
        
      </div>
    </div>
    
    
    <%= yield :javascript %>
  </body>
</html>

